.hero-slider {
  position: relative;
  height: 80vh;
  overflow: hidden;
  margin-top: 90px;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.3));
}

.overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  max-width: 600px;
  padding: 80px;
}

.overlay span {
  background: #f59e0b;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 15px;
}

.overlay h1 {
  font-size: 52px;
  font-weight: 800;
}

.overlay p {
  margin-top: 10px;
}

.buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.primary {
  background: #f59e0b;
  padding: 12px 22px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
}

.outline {
  border: 2px solid #f59e0b;
  padding: 12px 22px;
  border-radius: 30px;
  background: transparent;
  color: white;
}

.dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background: #ccc;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.dot.active {
  background: #f59e0b;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow:hover {
  background: rgba(0,0,0,0.8);
}
